@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}
header{
    padding: 2.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
.navbar li,.navbar button{
    display: none;
}
.main{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1rem 1.5rem;
    align-items: center;
}
.main img{
    width: 23rem;
}
.title{
    font-size: 2.4rem;
    text-align: center;
    color: hsl(228, 39%, 23%);
    width: 21rem;
    font-weight: 700;
}
.main-one span{
text-align: center;
width: 20rem;
/* border: 2px red solid; */
display: block;
color: hsl(227, 12%, 61%);
line-height: 1.7rem;
padding: 1rem 0;
font-weight: 400;
}
.main-one button{
   margin: 0 auto;
   display: block;
   border: none;
   border-radius: 3rem;
   padding: .7rem 2rem;
   color: #fff;
   background-color: hsl(12, 88%, 59%);
   font-family: 'Be Vietnam Pro', sans-serif;
font-weight: 500;
box-shadow: 0 10px 26px -8px hsl(12, 88%, 59%);
}
.main-two h3{
    color: hsl(228, 39%, 23%);
    font-size: 1.7rem;
    width: 15rem;
    margin: 0 auto;
    padding: 3.5rem 0 1.3rem;
}
.main-two-p{
    color: hsl(227, 12%, 61%);
    text-align: center;
    width: 22rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}
.bg-div{
    background-color: hsl(13, 100%, 96%);
    /* padding: .5rem; */
margin-left: 1rem;
}
.main-two h4{
    display: inline-block;
    background-color: hsl(13, 100%, 96%);
   width: 80%;
   /* margin-left: -.5rem; */
   padding: .5rem;
   color: hsl(233, 12%, 13%);
}
.main-two span{
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    /* margin-right: -.5rem; */
    z-index: 7;
}
.child-divs p{
    color: hsl(227, 12%, 61%);
    text-align: left;
    width: 25rem;
    padding: 1rem 0 3rem .5rem;
    line-height: 1.8rem;
    font-weight: 100;
}